POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
DATABASE_URL=postgresql://user:password@postgres:5432/db
JWT_SECRET=secret
BACKEND_PORT=8000
FRONTEND_URL=http://localhost:5173

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin-email
ADMIN_PASSWORD=admin-password
ADMIN_ROLE=admin
